

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 160vh;
  background: hsl(0, 9%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: background-animation 10s infinite; */
}

/* @keyframes background-animation {
  0% {
    background-color: #090909;
  }
  50% {
    background-color: #3a465f;
  }
  100% {
    background-color: #5153bd;
  }
} */

.calcultor {
  background: #21212c;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: calculator-animation 5s infinite;
}

@keyframes calculator-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.calcultor form input {
  border: 0;
  outline: 0;
  width: 55px;
  height: 45px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 18px;
  color: #2ecc71;
  cursor: pointer;
  margin: 10px;
  animation: button-animation 2s infinite;
}

@keyframes button-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 36px;
  box-shadow: none;
}

form input.equal {
  width: 122px;
  background: #2ecc71;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* Responsive design */

@media only screen and (max-width: 768px) {
  .calcultor {
    width: 60%;
    height: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .calcultor {
    width: 70%;
    height: 40%;
  }
  .calcultor form input {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}


